* /*Permet d'enlever les petits espaces gauche/droite */
{
margin: 0;
padding: 0;
overflow: auto;
}
body
{
  background-color: grey;
}

.imgtete
  {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;

  }

.titre
{
text-decoration: none;
color:black;
}

.Menu{
float: left;
}
.menu{

  padding: 0.5em;
  margin: 0.5em;
  width: 10em;

}

.titreMenu, .contenuMenu, .lienMenu{
 color: white;
}


  .titreMenu, .contenuMenu{
   width: 10em;
   text-align: center;
   margin: 2px;
   padding: 2px;
  }

.contenuMenu{
 display: none;
 position: absolute;
 background-color: #FFFFFF;
 overflow: auto;
}


.itemOver{
 background-color: #AAAAFF
}

.itemOut{
 background-color: #FFFFFF; /* couleur fond */
}

.lienMenu{
 text-decoration: none;
}

/*fin en-tête*/

.corpst
{
  overflow: auto;
padding: 2em;
background-color: rgba(174, 181, 173, 0.6);
}

#Menu1Item,#Menu1Titre,#Menu1,.itemOut1,.itemOver1{
  background-color: yellow;
  color: white;
  padding: 0;
  margin: 0;

}
#Menu2Item,#Menu2Titre,#Menu2,.itemOut2,.itemOver2{
  background-color:green;
  color: white;
  padding: 0;
  margin: 0;

}
#Menu3Item,#Menu3Titre,#Menu3,.itemOut3,.itemOver3{
  background-color: orange;
  color: white;
  padding: 0;
  margin: 0;

}
#Menu4Item,#Menu4Titre,#Menu4,.itemOut4,.itemOver4{
  background-color: blue;
  color: white;
  padding: 0;
  margin: 0;

}
#Menu5Item,#Menu5Titre,#Menu5,.itemOut5,.itemOver5{
  background-color: red;
  color: white;
  padding: 0;
  margin: 0;

}
#Menu6Item,#Menu6Titre,#Menu6,.itemOut6,.itemOver6{
  background-color: green;
  color: white;
  padding: 0;
  margin: 0;


}
#Menu7Item,#Menu7Titre,#Menu7,.itemOut7,.itemOver7{
  background-color: Purple;
  color: white;
  padding: 0;
  margin: 0;

}
