/******** Feuille de styles du menu ************/
* /*Permet d'enlever les petits espaces gauche/droite */
{
margin: 0;
padding: 0;
}
body 
{
	background-color: grey;
}
/*display: flex;
flex-direction: row orienté sur une ligne;
flex-wrap: nowrap se ressere tant qu'ils peuvent sur la ligne;
justify-content: center centre les element;
justify-content: space-around met autant d'espace entre les uns et les autres;*/

/*en-tête*/
/*header
{
height: 243px;
background-image: url(images/bandeau.jpg);
background-size: 100% 100%; /*largeur de l'image de fond*/

.imgtete
	{
	width: 100%;
	height: auto;
	display: flex;
	z-index: 1;
	
	}

.titre
{
text-decoration: none;
color:black;
}

.menu{
 float: left;
 padding: 2px;
 flex-direction:row;
 flex-wrap: nowrap;
 justify-content: center;
 justify-content:space-around;


}
 
.titreMenu, .contenuMenu, .lienMenu{
 color: #000000;
}
 
.titreMenu, .contenuMenu{
 border: 2px outset #AAAAAA;
 width: 10em;
 text-align: center;
 margin: 2px;
 padding: 2px;
}
 
.contenuMenu{
 display: none;
 position: absolute;
 background-color: #FFFFFF;
 overflow: auto;
}
 
 
.itemOver{
 background-color: #AAAAFF
}
 
.itemOut{
 background-color: #FFFFFF; /* couleur fond */
}
 
.lienMenu{
 text-decoration: none;
}

/*fin en-tête*/

.corpst
{
padding: 5em;
background-color: rgba(174, 181, 173, 0.6);
margin-right: 5em;
margin-left: 5em;

}
 
/******** Fin de la feuille de styles du menu ************/