h1
{
	color: white;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;

}
.siteautre, h1
{
	border: 1.5px solid white;
	background-color: rgba(174, 181, 173, 0.6);
	text-align: center;
	color: white;
	margin-left: 23%;
	
	margin-bottom: 2em;
  	margin-top: 2%;
  	margin-right: 2%;
}
.siteautre img
{
	padding: 3%;
	width: 150px;
	margin-right: 1%;
}