.photo h3 {
  text-align: center;
  color: white;
  float: right;
  margin-right: 38%;
}
.photo img {
  float: right;
  height: auto;
  width: 50%;
  margin-right: 15%;
}
div.photo
{
	margin-top: 10%;
	z-index: 1;
}

h1
{
  text-align: center;
  color: white;
  border: 1.5px solid white;
  background-color: rgba(174, 181, 173, 0.6);
  margin-left: 24.8%;
  margin-top: 2%;
  padding-top: 2%; 
  padding-bottom: 2%;
}

