/******** Feuille de styles du menu ************/
* /*Permet d'enlever les petits espaces gauche/droite */
{
margin: 0;
padding: 0;
/*
overflow: auto;
color:white;
*/

background-image: url("../Images/Fond.jpg");

width: auto;
height: auto;
background-color: WHITE;
}
.Menu{
  color: BLACK;
  float: left;
}
ul{/*
  background-color: white;
  */
}
/*
body
{
  background-color: grey;
}/*
.imgtete
  {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  }
.titre
{
text-decoration: none;
}
/******** Fin de la feuille de styles du menu ************/
