*
{
color: red;
margin:0;
padding: 0;
padding-left: 3em;
}
.entete{
}
.menu{
  height: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
li {

padding: 1.5em;
color: black;
display: block;
background-color: white;
}
